body {
    margin: 0;
    font-family: 'Roboto Mono' monospace;
    background-color: pink; 
    font-weight: bolder;
}

h1 {
    font-size: 5em;
    color: black;
    text-align: center;
    font-style: italic;
    margin-top: 50px; 
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.itc-color {
    padding: 20px;
    text-align: center;
}

.itc-color h1 {
    font-size: 4.5em;
    color: black;
}

.itc-color h1:hover {
    color: white;
    cursor: pointer;
}

.itc-homepage {
    display: block;
    margin: auto;
    background-color: pink;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.99em;
    border: 3px solid;
    font-weight: bolder;
    color: black;
    border-radius: 80px;
    cursor: pointer;
    padding: 5px 5px;

    transition: color 0.15s;
}

.itc-homepage:hover {
    background-color: gray;
    color: white;
}

.itc-homepage:active {
    opacity: 0.7;
}

.calculator-container {
    border: 3px solid black;
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    max-height: 800px;
}

#taxableIncome {
    text-align: left;
    width: 35%; 
    margin-top: 30px;
    margin-bottom: 30px; 
}

.calculate-button {
    display: block;
    margin: 0 auto; 
    background-color: pink;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.99em;
    border: 3px solid;
    font-weight: bolder;
    color: black;
    border-radius: 80px;
    cursor: pointer;
    padding: 10px 20px;

    transition: color 0.15s;
}

.calculate-button:hover {
    background-color: gray;
    color: white;
}

.calculate-button:active {
    opacity: 0.7;
}

#result {
    text-align: right;
    font-size: 1.2em;
    color: rgb(31, 185, 31);
}
