body {
    margin: 0;
    font-family: 'Roboto Mono' monospace;
    background-color: pink; 
    font-weight: bolder;
}

h1 {
    font-size: 5em;
    color: black;
    text-align: center;
    font-style: italic;
    margin-top: 50px; 
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.sp-color {
    padding: 20px;
    text-align: center;
}

.sp-color h1 {
    font-size: 4.5em;
    color: black;
}

.sp-color h1:hover {
    color: white;
    cursor: pointer;
}

.sp-homepage {
    display: block;
    margin: auto;
    background-color: pink;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.99em;
    border: 3px solid;
    font-weight: bolder;
    color: black;
    border-radius: 80px;
    cursor: pointer;
    padding: 5px 5px;

    transition: color 0.15s;
}

.sp-homepage:hover {
    background-color: gray;
    color: white;
}

.sp-homepage:active {
    opacity: 0.7;
}
